html {
	background-color: #F8F8F8;
	height: 100%;
	margin: 0;
	padding: 0;
}

a:HOVER {
  text-decoration: underline;
}

a {
  color: black;
  text-decoration: none;  
}

button:focus, input:focus {
  outline: 0;
  box-shadow: 0px 0px 3px 2px orange;
}

input {
  border-radius: 3px;
}

body {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	margin: 0;
	width: 100%;
	padding: 0;
	min-height: 100%;
	position: relative;
}

input, button {
	font-family: 'Open Sans', sans-serif;
}

h1, p {
	color: #333;
}

#top {
	margin: 0;
	padding-top: 50px;
	padding-left: 100px;
	padding-bottom: 50px;
	background-color: #222;
	color: white;
	font-family: 'Coming Soon', cursive;
	font-size: 40px;
	z-index: 1000;
	font-weight: bold;
}

#logo {
	background-color: #444;
	width: 120px;
	height: 80px;
	float: left;
	margin-top: -70px;
	border-radius: 75px;
	margin-left: -50px;
	margin-right: 50px;
	padding-top: 70px;
	padding-left: 30px;
	transform: rotate(-30deg);
	font-family: monospace;
	color: #393939;
}

#explanation {
	background-color: #DE9A5F;
	padding: 40px 20px 20px 70px;
	border-bottom: 2px white dashed;
	line-height: 30px;
	font-size: 20px;
	font-family: 'Coming Soon', cursive;
}

#explanation #hide{
  visibility: hidden;
  text-align: center;
  margin-top: -35px;
  font-size: 60px;
  color: rgb(252, 210, 164);
  font-family: sans-serif;
}

/*#explanation:HOVER {
  cursor: pointer;
  background-color: #E39E64;
}

#explanation:HOVER #hide{
  visibility: visible;
}*/

#authorize {
	font-size: 20px;
	padding: 50px 30px 30px 70px;
}

#authorized {
	display: none;
	font-size: 20px;
}

#auth_button {
	margin-top: 20px;
}

#auth_error {
	color: red;
	padding-top: 20px;
}

#authorized table td {
	padding: 40px;
}

#move {
	height: 38px;
	margin-top: 34px;
	width: 150px;
	font-size: 16px;
}

input[type="text"] {
	width: 370px;
	height: 27px;
	margin-top: 20px;
	padding: 3px 10px;
	font-size: 20px;
}

#user {
	display: none;
	float: right;
	margin: -20px;
	margin-right: 30px;
}

#login, #logout {
	margin-left: 15px;
	line-height: 50px;
	vertical-align: top;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: normal;
	color: white;
}

#logout a {
	vertical-align: top;
	color: inherit;
	text-decoration: none;
}

#logout a:HOVER {
	text-decoration: underline;
}

#photo {
	height: 50px;
	border-radius: 31px;
	border: 6px #444 solid;
	margin-top: -6px;
}

.form td {
	vertical-align: top;
}

#issueOverview, #repoOverview {
	margin-top: 40px;
	padding: 15px;
	border-radius: 15px;
  background-color: #F0BE93;
  display: none;
  line-height: 22px;
  width: 365px;
}

#issueUser {
	float: right;
	margin: -15px -15px 0 0;
	border-bottom-left-radius: 20px;
	background-color: white;
	padding: 5px 5px 8px 10px;
}

#issueUserAvatar {
	height: 25px;
	border-radius: 5px;
	margin-right: 10px;
	margin-bottom: -5px;
}

#issueBody, #repoDescription,
#issueComments {
	border-top: 3px solid white;
	display: block;
	margin-top: 20px;
	width: 365px;
	padding: 15px;
	margin-left: -15px;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #444;
  font-size: 16px;
}

#issueComments {
  margin-top: 0;
  margin-bottom: -10px;
}

#issueTitle, #repoName {
	line-height: 26px;
}

#issueError, #repoError {
	display: none;
	color: red;
	margin-top: 40px;
}

/* ==== Move Result ===== */

#moveResultContainer {
	width: 100%;
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}

#moveResultContainer #overlay {
  background-color: black;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: absolute;
}

#moveResultContainer #content {
  background-color: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: table;
	padding: 10px 30px 25px;
top: 15%;
line-height: 26px;
font-size: 18px;
}
#moveResultContainer #content .check {
  font-size: 28px;
  color: green;
  margin-left: -20px;
  visibility: hidden;
}

#moveResultContainer #content .loading {
	visibility: hidden;
}

#moveResultContainer #content .box {
  font-size: 28px;
  margin-left: 10px;
}

#arrow {
    transform: rotate(90deg);
    color: green;
    width: 15px;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
}

.center {
	text-align: center;
}

/* ===== Button ====== */

button[disabled], html input[disabled] {
cursor: default;
}

.pure-button-active, .pure-button:active {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 0 6px
		rgba(0, 0, 0, .2) inset
}


button, html input[type=button], input[type=reset], input[type=submit] {
-webkit-appearance: button;
cursor: pointer;
}

.pure-button-hover, .pure-button:hover, .pure-button:focus {
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
background-image: -webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));
background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
background-image: -moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));
background-image: -o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

.pure-button[disabled], .pure-button-disabled, .pure-button-disabled:hover, .pure-button-disabled:focus, .pure-button-disabled:active {
border: 0;
background-image: none;
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
filter: alpha(opacity=40);
-khtml-opacity: .4;
-moz-opacity: .4;
opacity: .4;
box-shadow: none;
}

.pure-button {
font-family: inherit;
font-size: 100%;
padding: .5em 1em;
color: #444;
color: rgba(0,0,0,.8);
border: 1px solid #999;
border: 0 rgba(0,0,0,0);
background-color: #E6E6E6;
text-decoration: none;
border-radius: 2px;
}

.pure-button {
display: inline-block;
zoom: 1;
line-height: normal;
white-space: nowrap;
vertical-align: baseline;
text-align: center;
cursor: pointer;
-webkit-user-drag: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
